.gradle
.gitattributes
gradlew
.idea/
gradle/
*/build/
/GraphQL/node_modules/
app/out
app/src/main/generated/
build/
markdown/
/ElasticSearch/uploadData/shakespeare.json
NodeJS/node_file_write.txt
NodeJS/pod-info-app/node_modules
/lib
/NodeJS/express/node_modules/
/NodeJS/express/package-lock.json
/NodeJS/socketio/package-lock.json
/NodeJS/socketio/node_modules/
