gradlew
.idea/
gradle/
secret/
bin
*/build/
/GraphQL/node_modules/
app/out
app/src/main/generated/
build
node_modules
markdown/
/ElasticSearch/uploadData/shakespeare.json
Javascript/node_file_write.txt
/lib
package-lock.json
WEB-INF/lib/
target/
dist/

.gradle
.gitattributes
.class
.iml
.json
.env